* {
    padding: 0px;
    margin: 0px;
}


.netflix {


    display: grid;
   grid-template-columns: auto;
  
    border-bottom: 2px rgb(16, 15, 15) double;
}

#div {
  border: 1px solid;
    height: 800px;
    width: 100%;
}

.item1 {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/530fc327-2ddb-4038-a3f0-2da2d9ccede1/9c547c8a-e707-4bdb-bdbc-843f134dd2a6/IN-en-20230619-popsignuptwoweeks-perspective_alpha_website_large.jpg
);
background-repeat: no-repeat;
background-size: cover;
display: flex;

flex-wrap: wrap;

}
.tex{
    display: flex;
    justify-content: center;
    align-items: start;

}
#para{
    line-height: 400px;
    color: rgb(223, 214, 214);
   
    align-items: center;
}
P{
    display: flex;
    align-items: top;
    justify-content: left;
    translate:50px 50px 50px;
    color: rgb(164, 7, 7,1);
    padding: 15px;
   
    background-color: blue;
  
    width: 70%;
    margin: auto;
}
.h12 h1{
    margin-top: 100px;
    margin: auto;
    color: white;
    width: 70%;
    position: relative;
    margin-left: 450px;
    
}
.h12 h4{
    color: white;
    margin: auto;
    width: 70%;
    position: relative;
    margin-left: 450px;
}

.h12 input{
  height: 22px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    margin-left: 600px;
}


    
#button1{
    padding: 3px;
    color: rgb(29, 157, 157);
}

.h12 button{
    background-color: rgb(219, 224, 196);
}
.h11{
    
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.h12{
    
  
    height: 60%;
    width: 100%;
   
    
}
#form{
    padding: 10px;
    color: rgb(226, 217, 43);
}

button{
    padding: 5px;
   
}


.item2{
   border: 1px solid;
    display: flex;
    flex-direction:row;
    height: 500px;
    width: 100%;
    
}


.item2d2{
    width: 50%;
    border: 1px solid;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.item2d1{
    display: flex;
    height: 500px;
    width: 50%;
    align-items: center;
    justify-content: center;
    
}

span{
   
    height: 200px;
}


.item3{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;

}
.item3d2{
    width: 50%;
  
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.item3d1{
    display: flex;
    height: 500px;
    width: 50%;
    align-items: center;
    justify-content: center;
    
}

.item4{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;

}
.item4d2{
    width: 50%;
   
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.item4d1{
    display: flex;
    height: 500px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.item5{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;

}
.item5d2{
    width: 50%;
    
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.item5d1{
    display: flex;
    height: 500px;
    width: 50%;
    align-items: center;
    justify-content: center;
    
}

.item7{
    height: 700px;
    width: 100%;
    border: 1px solid;
}

.item8{
    height: 700px;
    width: 100%;
    width: 100%;
    border: 1px solid;
}
.fon{
   
    transform: translate(30%,50%);
    font-size: 70px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pad{
    padding: 5px;
    width: 200px;
}